body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: Georgia, 'Times New Roman', Times, serif;
  user-select: none;
}
header {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  color: red;
  font-size: 25px;
  /* text-shadow: 5px 5px 10px #ff0000; */
}
#circle {
  width: 100px;
  height: 100px;
  background-color: red;
  box-shadow: 0 0 50px #ff0000;
  margin: 0 auto;
  border-radius: 50%;
  position: absolute;
  right: 10px;
  top: 10px;
  animation: parpadeo 1s infinite ease alternate;
  filter: blur(20px);
}
@keyframes parpadeo {
  0%{
    opacity: 1;
  }
  50%{
    opacity: 0.5;
  }
  100%{
    opacity: 0;
  }
}
main {
  padding-top: 120px;
}
.container__circles {
  display: flex;
  justify-content: center;
  background-color: #000000;
}
#container-circles-flex {
  margin-top: 60px;
  width: 500px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.circles {
  display: inline-block;
  width: 100px;
  height: auto;
  color: yellow;
  border: 2px solid black;
  margin: 10px;
  margin-bottom: 30px;
  text-align: center;
  padding: 5px;
  border-radius: 2rem;
  cursor: pointer;
}
h2 {
  text-align: center;
  font-size: 35px;
}
#acerca {
  width: 50%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 100px;
}
#svg2 {
  transform: rotate(180deg);
}
#skills {
  margin: 0;
  color: yellow;
  background-color: #000000;
}
/* --------------------------------------------------------- */
.ht:hover{
  background-color: #e92525;
  color: #000000;
  border: 2px solid black;
}
.cs:hover{
  background-color:#1557e7;
  color: #000000;
  border: 2px solid black;
}
.js:hover{
  background-color: #ffff00;
  color: #000000;
  border: 2px solid black;
}
.no:hover{
  background-color: #008000;
  color: #000000;
  border: 2px solid black;
}
.re:hover{
  background-color: #00ffff;
  color: #000000;
  border: 2px solid black;
}
.ex:hover{
 background: white;
 border: 2px solid black;
 color: #000000;
}
#proyectos{
  color: #000000;
  display: flex;
  justify-content: center;
}
ol{
  list-style: none;
}
li{
  margin: 30px;
}
a{
  color: orangered;
}
footer{
  background-color: #000000;
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  color: #f0f8ff;
}
form{
  width: 500px;
  height: auto;
 border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  /* box-shadow: 0 0 35px #ffffff; */
}
input{
  margin: 20px;
  height: 30px;
  border-radius: 2rem;
  border: 2px solid #ffffff;
  color: #ffffff;
  outline: none;
  background: none;
  padding: 10px;
  transition: background 0.5s ease-in-out;
}
input:hover{
  background-color: #ffffff;
  color: #000000;
  transition: background 0.5s ease-out;
}
textarea{
  margin-bottom: 20px;
  outline: none ;
}
#btnsubmit{
  border: none;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 2rem;
  font-weight: bolder;
}
#btnsubmit:hover{
  background-color: rgb(0, 255, 0);
  cursor: pointer;
}
h6{
  color: #ffffff;
  position: absolute;
  bottom: 0;
}
@media screen and  (max-width:520px) {
  form{
    width: 100%;
  }
  #formulario{
    width: 80%;
  }
  input{
    width: 80%;
    margin:  0 auto;
    margin-bottom: 20px;
  }
  textarea{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  button{
    width: 80%;
    margin: 0 auto;
  }
}
@media screen and  (max-width:370px) {
  h1,h2{
    font-size: 25px;
    text-align: center;
  }
}